#
# Custom Init Script File for CoCore-x
#

on post-fs
    # /system mount as read-only by default
    # In order to avoid some lock conditions in script execution
    # mount /system rw always
    exec /system/bin/sh /sbin/init.cocore.mount.sh

    exec /system/bin/sh /sbin/install-libdrmfix.sh

on property:ro.libdrmfix.load=1
    export LD_PRELOAD libdrmfix.so

on property:sys.boot_completed=1
    start cocore_post-boot
    start cocore_init-d

service cocore_post-boot /system/bin/sh /sbin/init.cocore.post_boot.sh
    class late_start
    user root
    disabled
    oneshot

service cocore_init-d /system/bin/sh /sbin/init.cocore.init-d.sh
    class late_start
    user root
    disabled
    oneshot
