#
# Custom Init Script File for CoCore-x
#

on post-fs
    # Install and check libdrmfix.so
    exec /system/bin/sh /sbin/install-libdrmfix.sh

    exec /system/bin/sh /sbin/init.cocore.post_fs.sh

on property:ro.libdrmfix.load=1
    export LD_PRELOAD libdrmfix.so

on property:init.svc.qcom-post-boot=stopped
    start cocore_post-boot

# on property:sys.boot_completed=1
#     start cocore_init-d

service cocore_post-boot /system/bin/sh /sbin/init.cocore.post_boot.sh
    class late_start
    user root
    disabled
    oneshot

service cocore_init-d /system/bin/sh /sbin/init.cocore.init-d.sh
    class late_start
    user root
    disabled
    oneshot
